

.slide-fade-enter-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    /* top:20px; */
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  /* opacity: 1; */
}

.slide-left-enter-active {
  transition: all 0.3s ease-in-out;
}
.slide-left-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-left-enter, .slide-left-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    /* top:20px; */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  /* opacity: 1; */
}

