// Import Bulma's core
@import "~bulma/sass/utilities/_all";
// @import "bourbon";

// Set your colors
$primary: #3f0cf0;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$active: #56e2e066;
$active-invert: findColorInvert($active);
$orange:#FBA500;
$orange-invert: findColorInvert($orange);


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "active":($active,$active-invert),
    "orange":($orange,$orange-invert)
);

// Links
$link: $active;
$link-invert: $active-invert;
$link-focus-border: $active;

.wrapperprogbox {
    // $border-color: rgba(orange, 1);
    width: 300px;
    min-height: 250px;
    position: relative;
    // border: 2px solid $border-color;
    // border-left: 40px solid $border-color;
    padding: 15px;
    // color: rgba(black, 0.5);
    font-size: small;
    display: inline-block;
    margin-right: 15rem;
    
    h3 {
      font-size: 1rem;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
      border-bottom: 5px solid $orange;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: -30px;
      
        transform:rotate(270deg);
       transform-origin:0 0;
    }
    
  }

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";