/* WRITE YOUR CSS HERE */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --banner-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #0e0e0e;
  --banner-color: #212020;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}


.center {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.centerimp {
  display: flex !important;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.centerleft {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
}

.centerright {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
}

.withrightmargin {
  margin-right: 14rem;
}
.goleft {
  display: flex;
  justify-content: left;
  justify-items: left;
}

.goright {
  display: flex;
  justify-content: right;
  justify-items: right;
}

.onend {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
}



  

.viewbox {
  min-height: 100vh;
  background: rgb(2, 0, 36);
  /* background: -webkit-linear-gradient(126deg , #4ca2cd, #67B26F);*/
  background: linear-gradient(126deg, #4ca2cd, #67b26f);
  /* background-color: #0cbaba; */
  /* background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
  /* background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%); */
  /* background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,213,174,1) 0%, rgba(88,213,193,1) 44%, rgba(0,212,255,1) 100%); */
  /* background-image: linear-gradient(
      114.3deg,
      rgba(19, 126, 57, 1) 0.2%,
      rgba(8, 65, 91, 1) 68.5%
    ); */
}

.cardcontainer {
  height: fit-content;
  width: fit-content;
}
/* span {
     font-family: monospace;
   } */

.table tr.is-selected {
  background-color: rgba(22, 142, 240, 0.34);
  color: #4a4a4a;
}

.fullPageHight {
  height: 100vh;
}

.v-sidebar-menu {
  position: absolute !important;
  top: 56px !important;
  left: 0;
  width: 100%;
  padding-top: 50px !important;
  height: calc(100vh - 55px) !important;
  padding-bottom: 50px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.v-sidebar-menu .vsm-list {
  top: 30px;
  /* margin-top: 50px; */
}

.v-sidebar-menu .collapse-btn {
  top: 0px !important;
}

/* custom scroolbar */

/* width */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  display: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  /* display: none; */
  overflow: scroll;
}

::-webkit-scrollbar-track {
  /* background: rgba(218, 191, 191, 0); */
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #888;

  border-radius: 7px;
}

.video {
  display: block;
  margin: 0 auto;
}

/* CSS from http://embedresponsively.com */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bggrad {
  /* background: rgb(2, 0, 36) */
  /* background: -webkit-linear-gradient(126deg , #4ca2cd, #67B26F);*/
  /* background: linear-gradient(126deg, #4ca2cd, #67B26F); */
  /* background-color: #0cbaba; */
  /* background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
  /* background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%); */
  background-image: linear-gradient(197deg, #65fdf0 10%, #1d6fa3 100%);
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,213,174,1) 0%, rgba(88,213,193,1) 44%, rgba(0,212,255,1) 100%); */
  /* background-image: linear-gradient(
      114.3deg,
      rgba(19, 126, 57, 1) 0.2%,
      rgba(8, 65, 91, 1) 68.5%
    ); */
}
.rightnoradius {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.leftnoradius {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.noborderleft {
  border-left: 0px;
}
/* .inputicon {
    background: url(../../assets/Images/angle-down-solid.svg) no-repeat scroll 94%
      5px;
    padding-right: 30px;
    background-size: 16px;
  } */
.popupcontainer {
  position: relative;
}
.sideborder {
  border-left: 1px solid;
  min-height: 33rem;
}
.tabletitle {
  text-align: right;
  color: darkgray;
  text-transform: capitalize;
}
.cusrounded {
  border-radius: 7px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1) !important;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
}
.heroequalpad {
  padding: 1rem 1rem !important;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.superlightpadding {
  padding: 10px;
}
.lightpadding {
  padding: 15px;
}
.myfonts {
  font-family: "Righteous", cursive;
  font-family: "Press Start 2P", cursive;
  font-family: "Carter One", cursive;
  font-family: "Baloo", cursive;
  font-family: "Codystar", cursive;
  font-family: "Monoton", cursive;
  font-family: "Fredoka One", cursive;
  font-family: "Courgette", cursive;
  font-family: "Caveat", cursive;
  font-family: "Neucha", cursive;
  font-family: "Allerta Stencil", sans-serif;
  font-family: "Caveat Brush", cursive;
  color: #fff !important;
  font-size: 5rem;
}
.homepage {
  height: 100vh;
  /* background-image: url(../Image/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg); */
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}
.newheader {
  background-color: rgba(10, 10, 10, 0.1) !important;
}
.altheader {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.isbig {
  font-size: 5rem;
}



.bigbanner {
  height: 100vh;
  width: 100%;
  background-color: var(--banner-color);
  position: absolute;
  z-index: 999999;
  /* opacity: 0; */
  /* display: none; */
}

.sidebar{
  position: absolute;
  height: 100vh;
}

.bannertextposition{
  width: inherit;
    position: absolute;
    top: 17rem;
    left: 26rem;
}
.typewriterposition{
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 12%;

}

pre{
  font-family: 'Lato', sans-serif !important;
  background-color: transparent !important;
}

@media only screen and (max-width: 400px) {

  .typewriterposition{
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 12%;
  
  }

}


@media screen and (min-width: 1088px){
.is-tooltip-bottom-desktop::before {
    top: 100%!important;
    bottom: auto!important;
    left: -287% !important;
    right: 20%!important;
    -webkit-transform: translate(-50%,-1rem)!important;
    transform: translate(-50%,-1rem)!important;
}
}

.layertop{
  /* width:300px;  */
  /* height:100px;  */
  position:relative; 
  top: 5rem;
  left: 11rem;
  z-index:1;
}

.layerbottom{
  /* width: 51%; */
  /* height: 12%; */
  position: relative;
  top: -9rem;
  left: 52rem;
  z-index: 0;
}

.textshadow{
  text-shadow: 3px 1px 3px rgba(150, 150, 150, 1);
}

